.content {
  margin-top: 50px;
}
.custom-pagination {
  margin-bottom: 20px;
}
.custom-pagination input,
.custom-pagination select {
  width: 75px;
  display: inline-block;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.undecorated-link:hover {
  text-decoration: none;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
body {
  overscroll-behavior: none;
}
.container {
  max-width: 100% !important;
}

@media (min-width: 1024px) {
  .navbar {
    min-height: 75px;
  }
  ul.dropdown-menu.pean-dropdown-menu {
    margin-top: 25px;
  }
  ul.dropdown-menu.pean-user-dropdown-menu {
    margin-top: 25px;
  }
  .pean-main-section {
    margin-top: 25px;
  }
}
